<% if @prompt %>
  <div class="prompt-title-creator">
  <a class="prompt-link" href="/prompts/<%= @prompt.id %>"><h3><%= @prompt.title %></h3></a>
  <p>Created by <%= @prompt.creator.username.capitalize %></p>
  </div>
  
<<<<<<< HEAD
  <div class="comments-and-form">
=======
>>>>>>> master
  <% @prompt.comments.each do |comment| %>
    <div class="comment-container">
      <p class="comment-body"><%= comment.body %></p>
      <li class="comment-date">Created on: <%= comment.created_at.strftime("%d %b. %Y") %></li>
    </div>
  <% end %>

  <%= erb :_errors, locals: {errors: @errors} %>
  
  <div class="comment-form">
  <form class="prompt-form pure-form" method="post" action="/prompts/<%= @prompt.id %>/comments">
    <fieldset class=".pure-group">
    <textarea class="pure-u-1" type="text" name="comment[body]" placeholder="Comment here"></textarea>
    <br>
    <input type="hidden" name="comment[commentable_type]" value="Prompt">
    <input type="hidden" name="comment[commentable_id]" value="<%= @prompt.id %>">
    <br>
    </fieldset>
    <button class="create-link" type="submit">Submit</button>
  </form>
  </div>
<% end %>
</div>





<% if @short %>
  <div class="prompt-title-creator">
  <a class="short-link" href="/prompts/<%= @short.prompt.id %>"><h3><%= @short.prompt.title %></h3></a>
  <p>Created by <%= @short.prompt.creator.username.capitalize %></p>
  </div>

  <div class="short-details">
  <h4>Short:</h4>
  <p><%= @short.body %></p>
  <p class="short-author">Written by <%= @short.creator.username.capitalize %></p>
  </div>
  <% @short.comments.each do |comment| %>
    <div class="comment-container">
      <p class="comment-body"><%= comment.body %></p>
      <li class="comment-date">Created on: <%= comment.created_at.strftime("%d %b. %Y") %></li>
    </div>
  <% end %>

<%= erb :_errors, locals: {errors: @errors} %>

<div class="comment-form">
<form class="prompt-form pure-form" method="post" action="/shorts/<%= @short.id %>/comments">
  <fieldset class=".pure-group">
  <textarea class="pure-u-1" type="text" name="comment[body]" placeholder="Comment here"></textarea>
  <input type="hidden" name="comment[commentable_type]" value="Short">
  <input type="hidden" name="comment[commentable_id]" value="<%= @short.id %>">
  <br>
  </fieldset>
  <button class="create-link" type="submit">Comment!</button>
</form>
</div>
<% end %>

