<div class="main-page">
  <a class="create-link push20" href="/prompts/new">Add a new prompt </a>
  <div class="all-prompts">
    <% @prompts.each do |prompt| %>
      <div class="prompt-snippet">
        <div class="votes-shorts">
          <%= prompt.points %><br>
          <span class="vs-text"><%= prompt.points == 1 ? 'Vote ' : 'Votes' %></span>
        </div>
        <div class="votes-shorts">
          <%= prompt.shorts.count %><br>
          <span class="vs-text"><%= prompt.shorts.count == 1 ? 'Short ' : 'Shorts' %></span>
        </div>
    	  <a class="prompt-link" href="/prompts/<%= prompt.id %>"><%= prompt.title.length > 60 ? prompt.title[0..60] + '...' : prompt.title %></a>
        <span class="creator">Created By: <%= prompt.creator.username %></span>
    	</div>
    <% end %>
  </div>
</div>


