<div class="prompt-details">

  <div class="prompt-container">

    <div class="vote-buttons">
      <form class="vote-form" method="post" action="/prompts/<%= @prompt.id %>/votes">
        <button class="upvote" type="submit">&#9650;</button>
        <input type="hidden" name="vote[value]" value="1">
      </form>
      <span class="points"><%= @prompt.points %></span>
      <form class="vote-form" method="post" action="/prompts/<%= @prompt.id %>/votes">
        <button class="downvote" type="submit">&#9660;</button>
        <input type="hidden" name="vote[value]" value="-1">
      </form>
    </div>

    <span class="prompt-title"><%= @prompt.title %></span><span class="created">Created by: <%= @prompt.creator.username %></span>
  </div>

  <% if @prompt.optional %>
    <span class="instructions">Instructions: <%= @prompt.optional %></span>
  <% end %>

  <div class="link-container">
  	<a class="create-link" href="/prompts/<%=@prompt.id%>/shorts">Create a Short</a>
    <a class="create-link comment-link" href="/prompts/<%=@prompt.id%>/comments">See Comments</a>
  </div>

  <div class="comments-show">
    <%= erb :'/comments/_promptcomments' %>
  </div>
</div>


<div class="all-shorts">
  <% @prompt.shorts.each do |short| %>
  <%= erb :'_short', layout: false, locals: {short: short} %>
  <% end %>
</div>

<form class="delete create-link" action="/prompts/<%= @prompt.id %>" method="post">
  <input type="hidden" name="_method" value="delete">
  <input type="submit" value="DELETE PROMPT">
</form>
<% if logged_in? %>
<div class="short-form">
<h4>Write a Short:</h4>
  <form class="prompt-form pure-form hello" action="/prompts/<%= @prompt.id %>/shorts" method="POST">
    <fieldset class=".pure-group">
    <textarea class="pure-u-1 hi" type="text" name="short[body]"placeholder="Body"></textarea>
    <br>
    <input type="hidden" name="short[creator_id]" value="<%= @user.id %>">
    <input type="hidden" name="short[prompt_id]" value="<%= @prompt.id %>">
    <br>
    </fieldset>
    <button class="create-link" type="submit">Create</button>
  </form>
</div>
<% end %>

