<div class="prompt-details">
  <div class="prompt-container">
    <div class="vote-buttons">
      <form method="post" action="/prompts/<%= @prompt.id %>/votes">
        <button type="submit">&#65514;</button>
        <input type="hidden" name="vote[value]" value="1">
      </form>
      <span><%= @prompt.points %></span>
      <form method="post" action="/prompts/<%= @prompt.id %>/votes">
        <button type="submit">&#65516;</button>
        <input type="hidden" name="vote[value]" value="-1">
      </form>
  </div>
	<h2><%= @prompt.title %></h2>
	<%= @prompt.optional %>
	<a class="create-link" href="/prompts/<%=@prompt.id%>/shorts">Create a Short</a>
  <a class="create-link" href="/prompts/<%=@prompt.id%>/comments">Add a Comment</a>
</div>

<% @prompt.shorts.each do |short| %>
	<div class="short-container">
  <div class="vote-buttons">
  <form method="post" action="/shorts/<%= short.id %>/votes">
    <button type="submit">&#65514;</button>
    <input type="hidden" name="vote[value]" value="1">
  </form>
  <span><%= short.points %></span>
  <form method="post" action="/shorts/<%= short.id %>/votes">
    <button type="submit">&#65516;</button>
    <input type="hidden" name="vote[value]" value="-1">
  </form>
</div>
  <%= short.body %>
  <a class="create-link" href="/shorts/<%= short.id %>/comments">See Comments</a></div>
<% end %>


<form class="delete" action="/prompts/<%= @prompt.id %>" method="post">
  <input type="hidden" name="_method" value="delete">
  <input type="submit" value="DELETE PROMPT">
</form>
