<div class="prompt-details">
	<h2><%= @prompt.title %></h2>
	<%= @prompt.optional %>
	<a class="create-link" href="/prompts/<%=@prompt.id%>/comments">Add a Comment</a>
	<a class="create-link" href="/prompts/<%=@prompt.id%>/shorts">Create a Short</a>
</div>

<% @prompt.shorts.each do |short| %>
	<div class="short-container">
  <%= short.body %>
  <a class="create-link" href="/shorts/<%= short.id %>/comments">Add Comment</a></div>
<% end %>


<form class="delete" action="/prompts/<%= @prompt.id %>" method="post">
  <input type="hidden" name="_method" value="delete">
  <input type="submit" value="DELETE PROMPT">
</form>
