<h2>Hey <%= @user.username %>, you can change your ussername, password, and email here:</h2>

<%= erb :_errors, locals: {errors: @errors} %>

<div class="comment-form">
<form class="prompt-form pure-form" method="post" action="/users">
  <fieldset class=".pure-group">
  <input type="hidden" name="_method" method="put">
  <input type="text" name="user[username]" value="<%= @user.username %>">
  <input type="email" name="user[email]" value="<%= @user.email %>">
  <input type="password" name="user[password]" placeholder="Password">
  </fieldset>
  <br>
  <button class="create-link" type="submit">Update</button>
</form>
</div>

We would hate to see you go...but you can delete your account here

<form class="delete create-link" method="post" action="/users/<%= @user.id %>">
  <input type="hidden" name="_method" method="delete">
  <input type="submit" value="DELETE ACCOUNT">
</form>
