<h2 class="hey">Hey there, <%= @user.username %>!</h2>

<div class="user-prompts">
  <h3>Your prompts:</h3>
<ul>
  <% @user.prompts.each do |prompt| %>
  	  <a class="prompt-link" href="/prompts/<%= prompt.id %>"><li><%= prompt.title %></a></li>
  <% end %>
</ul>
</div>


<div class="user-shorts">
  <h3>Prompts You Have Shorted:</h3>
<ul>
  <% @user.shorts.each do |short| %>
    <a class="short-link" href="/shorts/<%= short.id %>"><li><%= short.prompt.title %></a></li>
  <% end %>
</ul>
</div>

<div class="edit-account" >
<a href="/users/<%= @user.id %>/edit" class="create-link">Edit your Account</a>
</div>
