    <div class="short-container">
      <div class="vote-buttons">
      <form class="vote-form" method="post" action="/shorts/<%= short.id %>/votes">
        <button class="upvote" type="submit">&#9650;</button>
        <input type="hidden" name="vote[value]" value="1">
      </form>
      <span class="points push-left-10"><%= short.points %></span>
      <form class="vote-form" method="post" action="/shorts/<%= short.id %>/votes">
        <button class="downvote" type="submit">&#9660;</button>
        <input type="hidden" name="vote[value]" value="-1">
      </form>
    </div>
<div class="short-body-show">
    <%= short.body %><br>
    <br>Written by: <%= short.creator.username %>
    </div>
<div class='push-20' >
    <a class="create-link" href="/shorts/<%= short.id %>/comments">See Comments</a></div>
</div>